/* Structure stylish */
.postsFeed {
  background:#ABB2EB;

}

section {
  max-width: 900px;
  height: auto;
  margin: 3% auto;
}

.row {
  max-width: 900px;
}

.userProfilePic {
  width: 35px;
  height: 35px;
}

/* Making posts stylish */

#newPost {
  width: 80%;
  height: 250px;
  background: #fff;
  border-radius: 10px;
  /*box-shadow: 0 1px 10px rgba(0, 0, 0, 2);*/
}

#userInfoPost {
  margin-top: 10px;
}

#userInfoPost img {
  padding-right: 10px;
}

#textPost {
  background: #fbfbfb;
  margin: 10px 0;
  border-radius: 10px;
  padding: 25px;
  outline: none;
  resize: none;
  width: 100%;
}

#btnPost {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

#btnPost button {
  padding: 8px 40px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #4DEB6D ;
  color: #fff;
  background:#4DEB6D;
  
  p::before {

  }

}

/* Posts list stylish */

ul {
  width: 100%;
  padding-right: 50px;
}

li {
  list-style: none;
}

.posts li.post {
  margin: 50px 0;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.posts li.post #infoUserPost {
  display: flex;
  align-items: center;
}

.posts li.post strong {
  color: blue;
  font-size: 15px;
}

.posts li.post span {
  color: lightgreen;
  font-size: 12px;
  display: block;
}

.posts li.post p {
  width: 100%;
  margin: 20px 0;
}

#postActions {
  display: flex;
  align-items: center;
}

#postActions .actionButton {
  height: 30px;
  padding: 5px 20px;
  border-radius: 100px;
  margin-right: 10px;
  outline: none;
  border: 0;
  background: none;
}

#postActions .actionButton img {
  width: 30px;
}
