#navHeader {
  height: 90px;
  padding: 0 15px;
  width: 100%;
  background: #202020;
}

#logoHeader {
  width: 150px;
  height: 100%;
}

div.searchBar {
  display: flex;
  justify-content: center;
}

#searchInput {
  width: 300px;
  height: 40px;
  border-radius: 20px;
}

#searchButton {
  background: none;
  border: none;
}

#iconUser {
  width: 50px;
  height: auto;
  cursor: pointer;
}

#dropdownIcon {
  background: none;
  border: none;
}
