/* Page Structure */
section {
  margin-top: 20px;
}

.backgroundPerfil {
  background: #abb2eb;
}

/* Card Profile */

.userInfoCard {
  border: solid 2px;
  height: 300px;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 2);
  justify-content: center;
  background: #f1ebebd8;
}

#banner {
  border: solid 2px;
  height: 150px;
  width: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 2);
  /* background: rgb(91, 99, 84); */
}

div.photoDescription img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: -60px;
  left: 40%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 2);
}

.description {
  width: 90%;
  height: auto;
  position: relative;
  left: 50px;
  top: 50px;
}

.description1 {
  width: 90%;
  height: auto;
  position: relative;
  float: right;
  left: 150px;
  margin-bottom: 25px;
}

/* Profile Portfolio */
.portfolio {
  border: solid 2px;
  height: 300px;
}

.portfolioTitle h2 {
  margin: 10px 390px;
}

.portfolioFiles {
  height: 290px;
  max-height: 220px;
  /* width: 100%; */
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUpload {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 2);
  display: flex;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 2);
  justify-content: center;
}

.addImageIcon {
  background: #fff;
}

#addFiles {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Highlight Posts */

.featuredPosts {
  border: solid 2px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 2);

  height: 300px;
  margin-bottom: 30px;
  background: #f1ebebd8;
}
